body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
}


@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}