.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: linear-gradient(125deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
    background-size: 500%;
    animation: bgAnimation 15s linear infinite;
    cursor: pointer;
}

.container {
    position: relative;
    z-index: 11;
}

.welcome-text {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 20px 20px #222, 0 40px 60px #222;
    text-align: center; 
}


table {
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

td {
    vertical-align: middle;
}

h2 {
    text-align: center; 
}